.move-window {
    cursor: move;
    font-size: 40px;
    padding-left: 10px;
    position: absolute;
    -webkit-app-region: drag;
}

#button__close-window {
    padding-right: 10px;
}

.three-six-px {
    font-size: 36px;
}

.button__maximize-window,
.button__restore-window {
    position: fixed;
    bottom: 10px;
    right: 15px;
}

.button__restore-window {
    display: none;
}

.ignored--other-navigation {
    height: 50px;
}

.ignored--back-button-a {
    height: 50px;
    position: absolute;
    width: 45px;
    z-index: 5;
}

.ignored--back-button-icon {
    font-size: 40px;
    padding-top: 5px;
    color: white;
}

.ignored--other-navigation-title {
    position: absolute;
    top: 57px;
    text-align: center;
    width: 100%;
    color: lightcyan;
    font-size: 1.8rem;
}

#page__ignored,
#page__configurations {
    display: none;
}

#button__go-to-ignored,
#button__go-to-categories {
    width: 100%;
}

.item__ignored-file {
    cursor: pointer;
}

.item__ignored-file:hover {
    background-color: rgba(255, 53, 53, 0.5);
}

#button__exit {
    position: fixed;
    bottom: 10px;
    left: 0px;
    opacity: 0.5;
}